// Typography
$family-primary: "Poppins", sans-serif;
$size-6: 0.9rem;

// Overwrite Bulma Colors
// $white: hsl(0, 0%, 100%);
// $black: hsl(0, 0%, 4%);
$light: #F3F3F3;
// $dark: #272932;
$primary: #e93f3a;
// $link: #828489;
// $info: #B6C2D9;
// $success: #247BA0;
// $warning: hsl(48, 100%, 67%);
// $danger: #F25F5C;
