// Typography
$family-primary: "Raleway", sans-serif;
$size-6: 0.9rem;

// Overwrite Bulma Colors
// $white: hsl(0, 0%, 100%);
// $black: hsl(0, 0%, 4%);
// $light: #9E90A2;
// $dark: #272932;
$primary: #EFD426;
// $link: #828489;
// $info: #B6C2D9;
// $success: #247BA0;
// $warning: hsl(48, 100%, 67%);
// $danger: #F25F5C;
