// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700");

// Variables
@import "variables";

// Bulma
@import "node_modules/bulma/bulma";

.hero-body {
    flex-direction: column;
    justify-content: center;
    h1 {
        background: -webkit-linear-gradient(0deg, #e93f3a, #fff037);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 100px !important;
    }
}
